/* * {
    max-width: 1000px;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #333;
    /* color: #444; */
}

/* .intro h2 {
    color: seagreen
} */

/* header nav a {
    color:white;
} */

h1 {
    line-height: 1.5;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* color: darkgreen */
}

h2 {
    line-height: 1.5;
    font-size: 1.5rem;
    text-align: justify;
}

p {
    line-height: 1.5;
    font-size: 1rem;
    text-align: justify;
}

header {
    position: sticky;
    top: 0;
    text-align: center;
    background-color: #5e60ce;
    color: white;
    padding: 15px 0;
    z-index: 10;
    margin-bottom: 30px;
    background-color: aquamarine;
    border-bottom: 4px solid #333;
}

nav ul{
    list-style: none;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

.intro {
    padding: 40px;
    background-color: lightcyan;
}

.gallery {
    margin: 40px 0;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery img {
    width: 250px;
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}



@media (max-width: 700px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    .gallery {
        flex-direction: column;
        align-items: center;
    }
}